<div>
    <h1 style="color:@Color">
        @Title
    </h1>
    <p>
        @VisitShopComponent
    </P>
    <p>
        <img @attributes="AdditionalAttributes" class="img-fluid"/>
    </p>
</div>



