@page "/"
@using CodeMazeBlazor.Components
<Home Title="Custom Title"
    @attributes="AdditionalAttributes">
    <VisitShopComponent>
        feel Free to <a href="https://www.youtube.com/watch?v=XceIKXeIrD0">Ссылка</a>
    </VisitShopComponent>
</Home>


@code{
    public Dictionary<string, object> AdditionalAttributes { get; set; } = 
        new Dictionary<string, object>
        {
            {"src", "/assets/products.png"},
            {"alt", "products image"}
        };
}